<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lasesteras">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.tableOrderView.orderDetailActivity" />
        <activity android:name=".view.tableOrderView.mainLayoutActivity" />
        <activity
            android:name=".viewProfile.profileView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewAdministrator.letterView.bringListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewAdministrator.letterView.letterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewAdministrator.tableView.tableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewAdministrator.salesView.salesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewAdministrator.personalView.personalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewAdministrator.mainAdministratorView.mainAdministratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewKitchen.mainCookView.mainCookActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.checkRoleView.CheckRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.seeOrderView.seeOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tableOrderView.tableOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.mainView.mainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.loginView.loginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.splashView.splashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>